@model GA.XYZ.LeT.Application.ViewModels.FornecedorViewModel

@{
    ViewData["Title"] = "Detalhes do Fornecedor";
}

<br />

<div class="container">
    <div class="row">
        <div class="">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title"><b>@ViewData["Title"] </b>"@Model.Nome"</h4>
                </div>
                <div class="panel-body">
                    <div class="row ">
                        <div class=" col-md-12 col-lg-12  ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td><b>@Html.DisplayNameFor(model => model.Nome)</b></td>
                                        <td>@Html.DisplayFor(model => model.Nome)</td>
                                    </tr>
                                    <tr>
                                        <td><b>@Html.DisplayNameFor(model => model.Estado)</b></td>
                                        <td>@Html.DisplayFor(model => model.Estado)</td>
                                    </tr>
                                    <tr>
                                    <tr>
                                        <td><b>@Html.DisplayNameFor(model => model.Cidade)</b></td>
                                        <td>@Html.DisplayFor(model => model.Cidade)</td>
                                    </tr>
                                    <tr>
                                        <td><b>@Html.DisplayNameFor(model => model.Ativo)</b></td>
                                        <td>@Html.DisplayFor(model => model.Ativo)</td>
                                    </tr>
                                    <tr>
                                        <td><b>@Html.DisplayNameFor(model => model.PeriodoVigenciaInicio)</b></td>
                                        <td>@Model.PeriodoVigenciaInicio.ToString("d")</td>
                                    </tr>
                                    <tr>
                                        <td><b>Periodo de Vigência</b></td>
                                        <td>
                                            @{
                                                int periodo;
                                                if (Model.Ativo == true) {
                                                    periodo = (DateTime.Now - @Model.PeriodoVigenciaInicio).Days;
                                                } else {
                                                    periodo = (Model.PeriodoVigenciaFim.Value - Model.PeriodoVigenciaInicio).Days;
                                                }
                                                @Html.DisplayName(periodo.ToString() + " dias");

                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>@Html.DisplayNameFor(model => model.PeriodoVigenciaFim)</b></td>
                                        <td>
                                            @if (Model.PeriodoVigenciaFim.HasValue && Model.Ativo == false) {
                                                @Model.PeriodoVigenciaFim.Value.ToString("d")
                                            } else {
                                                @Html.DisplayName(" - ")
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>@Html.DisplayNameFor(model => model.ValorMaxDemanda)</b></td>
                                        <td>@Html.DisplayFor(model => model.ValorMaxDemanda)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div id="ContatoForm">
                    <div id="ContatoTarget">
                        @Html.Partial("_ContatoList", Model)
                    </div>
                </div>

                <div id="myModal" class="modal fade in">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div id="myModalContent"></div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
                        <span title="Editar" class="glyphicon glyphicon-pencil"></span> Editar
                    </a>
                    <a asp-action="Index" class="btn btn-primary">
                        <span title="Voltar para lista" class=""></span> Voltar para lista
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.pt.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

    <script>
        ContatoMasks();
        AjaxModal();
    </script>

    @{
        if (ViewBag.RetornoStatus != null) {
            var notificacao = ViewBag.RetornoStatus.ToString().Split(',');
            <script>
                toastr["@notificacao[0]"]("@notificacao[1]");
            </script>
        }
    }
}